defaults:
  - submitit_slurm
  - _self_

timeout_min: 360
nodes: 1
tasks_per_node: 1
cpus_per_task: 4
mem_per_cpu: 2G

partition: stud
gres: "gpu:1"
  
setup:
  - "source $HOME/state-action-linear-transformer/salt/.venv/bin/activate"
  - "export JAX_PLATFORMS=cuda"
  - "export XLA_PYTHON_CLIENT_PREALLOCATE=false"
  - "export XLA_PYTHON_CLIENT_ALLOCATOR=cuda_async"
  - "export XLA_PYTHON_CLIENT_MEM_FRACTION=0.85"
