### MAKE SURE TO UPDATE PIP BEFORE RUNNING THIS FILE

hydra-core==1.3.2
jax[cuda12]==0.6.0
jaxlib==0.6.0
wandb==0.20.0
chex==0.1.89
flashbax==0.1.3
gymnax==0.0.9
brax==0.12.3
distrax==0.1.5
jumanji==1.1.0
navix==0.7.0
